{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
  {% block stylesheets %}
      {{ parent() }}
      {{ encore_entry_link_tags('modern') }}
  {% endblock %}

{% block body %}
<div id="cv" class="container classic " >
    <div class="row  " id="title">
        <h1 class="text-center fw-bold mb-0">{{ user.firstname }} {{ user.lastname }}</h1>
        <p class="text-center mt-0" id="header">{{ resume.detail.header }}</p>
    </div>
    <div id="personal-details" class="small mt-4 border">
        <h5 class="bg-{{theme}}"  >Détails personnels </h5>
        <div class="d-flex justify-content-between mx-3">
            <div class="d-flex flex-column">
                <p class="fw-bold">Nom</p>
                <p class="fw-bold">Email</p>
                <p class="fw-bold">Numéro de téléphone</p>
                <p class="fw-bold">Adresse</p>
                <p class="fw-bold">LinkedIn</p>
                <p class="fw-bold">Github</p>
            </div>
            <div class="d-flex flex-column">
                <p>{{ user.firstname }} {{ user.lastname }}</p>
                <p>{{user.email}}</p>
                <p>{{ resume.detail.tel }}</p>
                <p>{{ resume.detail.address }} {{ resume.detail.zipCode }} {{ resume.detail.city }}</p>
                <p>{{ resume.detail.linkedin }}</p>
                <p>{{ resume.detail.github }}</p>
            </div>
            <img src="/uploads/images/users/{{ resume.detail.avatar.image }}" alt="" width="150px" height="150px" id="photo">
        </div>
    </div>
    <div id="profile" class="small mt-4 border">
        <h5 class="bg-{{theme}}"  >Profil</h5>
        <p class="small mx-3">
            {{ resume.profile.description }}
        </p>
    </div>
    <div id="skills" class="small mt-4 border">
        <h5 class="bg-{{theme}}"  >Compétences</h5>
        <div class="flex mx-3">
        {% for skill in resume.skills %}
            <p class="fw-bold">{{ skill.name }}</p>
        {% endfor %}
        </div>
    </div>
    <div id="experience" class="small mt-4 border">
        <h5 class="bg-{{theme}}"  >Expérience professionnelle</h5>
        {% for experience in resume.experiences %}
            <div class="d-flex flex-row justify-content-end small exp mx-3">
                <div  class="year fw-bold ">{{ experience.yearStart | date('Y') }}-{{ experience.yearEnd | date('Y') }}</div>
                <div class="d-flex flex-column ">
                    <p class="job my-0 fw-bold">
                        {{ experience.jobName }}
                    </p>
                    <p class="job-place text-{{theme}}  my-0">
                        {{experience.employer}}
                    </p>
                    <p class="job-description mt-0 mb-2">
                        {{ experience.description }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="formation" class="small mt-4 border">
        <h5 class="bg-{{theme}}"  >Formation</h5>
        {% for study in resume.scholarships %}
        <div class="d-flex flex-row justify-content-end small for mx-3">
            <div  class="year fw-bold">{{ study.yearStart | date('Y') }}-{{ study.yearEnd | date('Y') }}</div>
            <div class="d-flex flex-column ">
                <p class="graduation my-0 fw-bold">
                    {{ study.graduation }}
                </p>
                <p class="establishment text-{{theme}}  my-0">
                    {{ study.school }}
                </p>
                <p class="formation-description mt-0 mb-2">
                    {{ study.description }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="languages" class="small mt-4 border">
        <h5 class="bg-{{theme}}"   >Langues</h5>
        <ul>
            {% for language in resume.languages %}
            <li class="fw-bold square">{{ language.name }} {{ language.level }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="hobbies" class="small mt-4 border">
        <h5 class="bg-{{theme}}"   >Centre d'intérêt </h5>
        <ul>
            {% for hobby in resume.hobbies %}
                <li class="fw-bold square">{{ hobby.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
