{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container" id="login">
        <h1>Créer un compte</h1>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button type="submit" class="btn btn-veggie text-white">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
