{% extends 'base.html.twig' %}

{% block title %}cv de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}
  {% block javascripts %}
      {{ parent() }}
      {{ encore_entry_script_tags('show') }}
  {% endblock %}
{% block body %}
    <h1 class="text-white text-center">Bienvenue {{ app.user.firstname }}</h1>
<div class="container d-flex">
    {% for resume in resumes %}
    <div class="cvMin">
        <button class="btn btn-veggie text-white upload" data-resume="{{ resume.id }}">Imprimer</button>
        <button class="btn btn-tangerine text-white" data-resume="{{ resume.id }}">Modifier</button>
            <div id="resume{{ resume.id }}" class="resume">

            {% if  resume.template.name == 'classic' %}
                {% set theme = resume.template.theme %}
                {% include  'components/_classic.html.twig'%}
            {% endif %}

        {% if  resume.template.name == 'modern' %}
            {% set theme = resume.template.theme %}
            {% include  'components/_modern.html.twig'%}
        {% endif %}

        {% if  resume.template.name == 'premium' %}

            {% set theme = resume.template.theme %}
                {% include  'components/_premium.html.twig'%}
            {% endif %}
            </div>
    </div>
        {% endfor %}
</div>
    <a class="btn btn-veggie next-step">Créer un nouveu CV</a>
{% endblock %}
