{% extends 'base.html.twig' %}

{% block title %}cv de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}
  {% block javascripts %}
      {{ parent() }}
      {{ encore_entry_script_tags('show') }}
  {% endblock %}
{% block body %}
<div class="container d-flex">
    {% for resume in resumes %}
    <div class="cvMin">
        <button class="btn btn-veggie text-white upload" data-resume="{{ resume.id }}">Imprimer</button>
        <a class="btn btn-tangerine text-white" href="{{ path('theme',{id:resume.id}) }}" data-resume="{{ resume.id }}">Modifier</a>
            <div id="resume{{ resume.id }}" class="resume">

            {% if  resume.template.name == 'classic' %}
                {% set theme = resume.template.theme %}
                {% include  'components/_classic.html.twig'%}
            {% endif %}

        {% if  resume.template.name == 'modern' %}
            {% set theme = resume.template.theme %}
            {% include  'components/_modern.html.twig'%}
        {% endif %}

        {% if  resume.template.name == 'premium' %}

            {% set theme = resume.template.theme %}
                {% include  'components/_premium.html.twig'%}
            {% endif %}
            </div>
        </div>
        {% else %}
            <div class="d-flex justify-content-center">
                <h2 class="text-white position-absolute top-50 end-50 ">Pas de CV enregistré </h2>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-veggie text-white next-step" href="{{ path('init') }}">Créer un nouveu CV</a>
{% endblock %}
