{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Formation{% endblock %}
  {% block javascripts %}
      {{ parent() }}
      {{ encore_entry_script_tags('experience') }}
  {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col col-4 text-white d-flex flex-column justify-content-around align-items-end" >
                <div>

                    {{ form_start(form) }}
                </div>
                {{ form_widget(form) }}
                <button type="submit" id="button-experience" class="add_item_link btn btn-veggie" data-collection-holder-class="experiences">Ajouter une Formation</button>
                <a href="{{ path('hobby') }}" class="btn btn-veggie next-step">Prochaine étape</a>
                {{ form_end(form) }}
            </div>
            <div class="col col-7 offset-1">


                {% if  resume.template.name == 'classic' %}
                    {% include  'components/_classic.html.twig'%}
                {% endif %}

                {% if  resume.template.name == 'modern' %}
                    {% include  'components/_modern.html.twig'%}
                {% endif %}

                {% if  resume.template.name == 'premium' %}
                    {% include  'components/_premium.html.twig'%}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

