    <div id="cv" class="row   modern" >
        <div class="col-4 bg-{{ theme }} text-white" id="aside">
            <div class="photo-container d-flex justify-content-center mt-4">
                <img src="/uploads/images/users/{{ resume.detail.avatar.image }}" alt="" width="80% "class="rounded-circle justify" id="photo">
            </div>
            <div class="text-light text-center mt-4" id="header" >
                {{ resume.detail.header }}
            </div>
            <div id="personal-details text-light">
                <h5 class="text-light mt-4 text-center">Détails personnels <hr> </h5>
                <p id="name" class="text-light detail"><i class="fas fa-user"></i>  {{ user.firstname }} {{ user.lastname }}</p>
                <p id="mail" class="text-light detail"><i class="fas fa-envelope"></i>  {{ user.email}}</p>
                <p id="tel" class="text-light detail"><i class="fas fa-phone"></i>  {{ resume.detail.tel }}</p>
                <p class="text-light detail">
                    <span><i class="fas fa-map-marker-alt"></i></span>
                    <span id="address"> {{ resume.detail.address }}</span>
                    <span id="zipCode">{{ resume.detail.zipCode }} </span>
                    <span id="city">{{ resume.detail.city }}</span>
                </p>
                <p id="linkedin" class="text-light detail"><i class="fab fa-linkedin"></i>  {{ resume.detail.linkedin }}</p>
                <p id="github" class="text-light detail"><i class="fab fa-github"></i>  {{ resume.detail.github }}</p>
            </div>
            <div id="languages">
                <h5 class="text-light mt-4 text-center">Langues<hr> </h5>
                <ul>
                    {% for language in resume.languages %}
                    <li class="text-light">{{ language.name }} {{ language.level }}</li>
                    {% endfor %}
                </ul>

            </div>
            <div id="hobbies">
                <h5 class="text-light mt-4 text-center">Centre d'intérêt<hr> </h5>
                <ul>
                    {% for hobby in resume.hobbies %}
                    <li class="text-light">{{ hobby.name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="col-8" id="main">
            <div id="profile">
                 <h5 class="mt-4">Profil <hr></h5>
                <p class="small">
                    {{ resume.profile.description }}
                </p>

            </div>
            <div id="experience" >
                 <h5 class="mt-4">Expérience professionnelle <hr></h5>
                {% for experience in resume.experiences %}
                    <div class="d-flex flex-row justify-content-end small exp">
                        <div  class="year text-{{theme}} ">{{ experience.yearStart | date('Y') }}-{{ experience.yearEnd | date('Y') }}</div>
                        <div class="d-flex flex-column ">
                            <p class="job my-0">
                                {{ experience.jobName }}
                            </p>
                            <p class="job-place text-{{theme}}  my-0">
                                {{experience.employer}}
                            </p>
                            <p class="job-description mt-0 mb-2">
                                {{experience.description}}

                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="skills" class="small">
                <h5 class="mt-4">Compétences<hr></h5>

                <ul>
                    {% for skill in resume.skills %}
                        <li>{{ skill.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="formation" >
                <h5 class="mt-4">Formation <hr></h5>
                {% for study in resume.scholarships %}
                    <div class="d-flex flex-row justify-content-end small for">
                        <div  class="year text-{{theme}} ">{{ study.yearStart | date('Y') }}-{{ study.yearEnd | date('Y') }}</div>
                        <div class="d-flex flex-column ">
                            <p class="graduation my-0">
                                {{ study.graduation }}

                            </p>
                            <p class="establishment text-{{theme}}  my-0">
                                {{ study.school }}
                            </p>
                            <p class="formation-description mt-0 mb-2">
                                {{ study.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

